@import url('https://fonts.googleapis.com/css?family=Comfortaa|Cormorant+Unicase');
.container {
  margin-bottom: 5em;
}
.header1 {
    font-family: 'Cormorant Unicase', serif;
    color: tomato;
}
p{
  font-family: 'Comfortaa',cursive;
}
.dizin {
  color: tomato;
  font-family: 'Cormorant Unicase', serif ;
}
.dizin:hover {
  color: black;
  text-decoration: none;
}
.subdizin {
  font-family: 'Cormorant Unicase', serif;
}
.subtitle {
  color: black;
}
.jumbotron {
  background-color: #f8f3ed !important;
  background-image: url("Resimler/paper.png");
    background-repeat: repeat-x;
}
