@import url('https://fonts.googleapis.com/css?family=Roboto|Cormorant+Unicase');
.container {
  margin-bottom: 5em;
}
.header1 {
    font-family: 'Cormorant Unicase', serif;
    color: tomato;
}
p{
  font-family: 'Roboto',sans-serif;;
}
.mobnav{
  text-align: center;
  color:tomato;
}
.dizin {
  color: tomato;
  font-family: 'Cormorant Unicase', serif ;
}
.dizin:hover {
  color: black;
  text-decoration: none;
}
.subdizin {
  font-family: 'Cormorant Unicase', serif;
}
.subtitle {
  color: black;
}
.jumbotron {
  background-color: #f8f3ed !important;
  background-image: url("Resimler/paper.png");
    background-repeat: repeat-x;
}
@media screen and (min-width: 0px) and (max-width: 720px) {
  /* Desktop Portrait and Landscape */
  #navigation { display: none; }
  .mobile-hide{ display: none; }
}
.mobile-show { display: none;}
   /* Smartphone Portrait and Landscape */
   @media only screen
   and (min-device-width : 320px)
   and (max-device-width : 480px){ .mobile-show { display: inline;}
 }
