@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('fonts/codropsicons/codropsicons.eot');
	src:url('fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('fonts/codropsicons/codropsicons.woff') format('woff'),
		url('fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}
nav a {
	position: absolute;
	margin-top: 10em;
	display: block;
	outline: none;
	text-align: left;
	color: darkgray;
	z-index: 1000;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

nav a.prev {
	left: 0;
}

nav a.next {
	right: 0;
}

nav a svg {
	display: block;
	margin: 0 auto;
	padding: 0;
}

.nav-fillpath a {
	width: 100px;
	height: 100px;
}

.nav-fillpath .icon-wrap {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.nav-fillpath a::before,
.nav-fillpath a::after,
.nav-fillpath .icon-wrap::before,
.nav-fillpath .icon-wrap::after {
	position: absolute;
	left: 50%;
	width: 3px;
	height: 50%;
	background: #566475;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.nav-fillpath .icon-wrap::before,
.nav-fillpath .icon-wrap::after {
	z-index: 100;
	height: 0;
	background: tomato;
	-webkit-transition: height 0.3s, -webkit-transform 0.3s;
	transition: height 0.3s, transform 0.3s;
}

.nav-fillpath a::before,
.nav-fillpath .icon-wrap::before {
	top: 50%;
	-webkit-transform: translateX(-50%) rotate(-135deg);
	transform: translateX(-50%) rotate(-135deg);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.nav-fillpath a.next::before,
.nav-fillpath a.next .icon-wrap::before {
	-webkit-transform: translateX(-50%) rotate(135deg);
	transform: translateX(-50%) rotate(135deg);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.nav-fillpath a::after,
.nav-fillpath .icon-wrap::after {
	top: 50%;
	-webkit-transform: translateX(-50%) rotate(-45deg);
	transform: translateX(-50%) rotate(-45deg);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.nav-fillpath a.next::after,
.nav-fillpath a.next .icon-wrap::after {
	-webkit-transform: translateX(-50%) rotate(45deg);
	transform: translateX(-50%) rotate(45deg);
	-webkit-transform-origin: 100% 0%;
	transform-origin: 100% 0%;
}

.nav-fillpath h3 {
	position: absolute;
	top: 50%;
	margin: 0;
	color: #000;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 0.85em;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.nav-fillpath a.prev h3 {
	left: 100%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}

.nav-fillpath a.next h3 {
	right: 100%;
	text-align: right;
	-webkit-transform: translateY(-50%) translateX(50%);
	transform: translateY(-50%) translateX(50%);
}

.nav-fillpath a:hover .icon-wrap::before,
.nav-fillpath a:hover .icon-wrap::after {
	height: 50%;
}

.nav-fillpath a:hover::before,
.nav-fillpath a:hover .icon-wrap::before {
	-webkit-transform: translateX(-50%) rotate(-125deg);
	transform: translateX(-50%) rotate(-125deg);
}

.nav-fillpath a.next:hover::before,
.nav-fillpath a.next:hover .icon-wrap::before {
	-webkit-transform: translateX(-50%) rotate(125deg);
	transform: translateX(-50%) rotate(125deg);
}

.nav-fillpath a:hover::after,
.nav-fillpath a:hover .icon-wrap::after {
	-webkit-transform: translateX(-50%) rotate(-55deg);
	transform: translateX(-50%) rotate(-55deg);
}

.nav-fillpath a.next:hover::after,
.nav-fillpath a.next:hover .icon-wrap::after {
	-webkit-transform: translateX(-50%) rotate(55deg);
	transform: translateX(-50%) rotate(55deg);
}

.nav-fillpath a:hover h3 {
	opacity: 1;
	-webkit-transform: translateY(-50%) translateX(0);
	transform: translateY(-50%) translateX(0);
}
